@{
    ViewBag.Title = "";
}



    <section class="height-100 imagebg cover cover-1 parallax" data-overlay="3">
        <div class="background-image-holder">
            <img alt="image" src="~/img/hero1.jpg" />
        </div>
        <div class="container pos-vertical-center">
            <div class="row">
                <div class="col-sm-6 text-right text-center-xs">
                    <img class="logo" alt="Pillar" src="~/img/logo-large-light.png" />
                </div>
                <div class="col-sm-6 text-center-xs">
                    <p class="lead">
                        Beautifully handcrafted websites 
                        <br /> and business solutions
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="modal-instance modal-video-1">
                        <a class="btn btn--primary modal-trigger" href="#">
                            <span class="btn__text">
                                &#9658; &nbsp; Watch The Overview
                            </span>
                        </a>
                        @*<div class="modal-container">
                            <div class="modal-content bg-dark" data-width="100%" data-height="80%">
                                <iframe src="https://player.vimeo.com/video/165428278?autoplay=1" allowfullscreen="allowfullscreen"></iframe>
                            </div>
                        </div>*@
                        <!--end of modal-container-->
                    </div>
                    <!--end of modal instance-->
                </div>
            </div>
        </div>
        <div class="col-sm-12 pos-absolute pos-bottom">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <ul class="social-list">
                        <li>
                            <a href="#">
                                <i class="socicon-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="socicon-dribbble"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="socicon-vimeo"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="socicon-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="space-bottom--sm">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <h3>Digital, Delivered.</h3>
                    <p class="lead">
                        CraftGag is a team of passionate designers, developers and artists working in print and digital.
                    </p>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section class="wide-grid masonry">
        <div class="masonry__filters text-center" data-filter-all-text="Show All"></div>
        <div class="masonry__container">
            <div class="col-md-4 col-sm-6 masonry__item" data-masonry-filter="Products">
                <a href="#">
                    <div class="hover-element hover-element-1" data-title-position="top,right">
                        <div class="hover-element__initial">
                            <img alt="Pic" src="~/img/work6.jpg" />
                        </div>
                        <div class="hover-element__reveal" data-overlay="9">
                            <div class="boxed">
                                <h5>CraftGag</h5>
                                <span>
                                    <em>Content - Digitalization</em>
                                </span>
                            </div>
                        </div>
                    </div>
                    <!--end hover element-->
                </a>
            </div>
            <div class="col-md-4 col-sm-6 masonry__item" data-masonry-filter="Services">
                <a href="#">
                    <div class="hover-element hover-element-1" data-title-position="top,right">
                        <div class="hover-element__initial">
                            <img alt="Pic" src="~/img/work2.jpg" />
                        </div>
                        <div class="hover-element__reveal" data-overlay="9">
                            <div class="boxed">
                                <h5>CraftGag</h5>
                                <span>
                                    <em>HealthCare Services</em>
                                </span>
                            </div>
                        </div>
                    </div>
                    <!--end hover element-->
                </a>
            </div>
            <div class="col-md-4 col-sm-6 masonry__item" data-masonry-filter="Services">
                <a href="#">
                    <div class="hover-element hover-element-1" data-title-position="top,right">
                        <div class="hover-element__initial">
                            <img alt="Pic" src="~/img/work7.jpg" />
                        </div>
                        <div class="hover-element__reveal" data-overlay="9">
                            <div class="boxed">
                                <h5>CraftGag</h5>
                                <span>
                                    <em>Needs Services</em>
                                </span>
                            </div>
                        </div>
                    </div>
                    <!--end hover element-->
                </a>
            </div>
            <div class="col-md-4 col-sm-6 masonry__item" data-masonry-filter="Content-Digitalization">
                <a href="#">
                    <div class="hover-element hover-element-1" data-title-position="top,right">
                        <div class="hover-element__initial">
                            <img alt="Pic" src="~/img/work5.jpg" />
                        </div>
                        <div class="hover-element__reveal" data-overlay="9">
                            <div class="boxed">
                                <h5>CraftGag</h5>
                                <span>
                                    <em>Content Digitalization</em>
                                </span>
                            </div>
                        </div>
                    </div>
                    <!--end hover element-->
                </a>
            </div>
            <div class="col-md-4 col-sm-6 masonry__item" data-masonry-filter="Products">
                <a href="#">
                    <div class="hover-element hover-element-1" data-title-position="top,right">
                        <div class="hover-element__initial">
                            <img alt="Pic" src="~/img/work10.jpg" />
                        </div>
                        <div class="hover-element__reveal" data-overlay="9">
                            <div class="boxed">
                                <h5>CraftGag</h5>
                                <span>
                                    <em>e-Learning</em>
                                </span>
                            </div>
                        </div>
                    </div>
                    <!--end hover element-->
                </a>
            </div>
            <div class="col-md-4 col-sm-6 masonry__item" data-masonry-filter="Content-Digitalization">
                <a href="#">
                    <div class="hover-element hover-element-1" data-title-position="top,right">
                        <div class="hover-element__initial">
                            <img alt="Pic" src="~/img/work12.jpg" />
                        </div>
                        <div class="hover-element__reveal" data-overlay="9">
                            <div class="boxed">
                                <h5>CraftGag</h5>
                                <span>
                                    <em>SCORM Compliance</em>
                                </span>
                            </div>
                        </div>
                    </div>
                    <!--end hover element-->
                </a>
            </div>
        </div>
        <!--end masonry container-->
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <h3>Creative and Collective</h3>
                    <p class="lead">
                        Have you looked outside recently? The world is full of awe, from the smallest of gadgets to the endless expanse of cloud platform. Everything about is technology beautiful. There’s no better inspiration.
                    </p>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section class="imagebg section--even stats-1 parallax" data-overlay="7">
        <div class="background-image-holder">
            <img alt="image" src="~/img/hero2.jpg" />
        </div>
        <div class="row wide-grid">
            <div class="col-sm-3 col-xs-6">
                <div class="feature feature-1 text-center">
                    <i class="icon icon--lg icon-Bodybuilding"></i>
                    <h3>16+</h3>
                    <span>
                        <em>Customers strong</em>
                    </span>
                </div>
            </div>
            <div class="col-sm-3 col-xs-6">
                <div class="feature feature-1 text-center">
                    <i class="icon icon--lg icon-Fingerprint"></i>
                    <h3>7</h3>
                    <span>
                        <em>Passionate team members</em>
                    </span>
                </div>
            </div>
            <div class="col-sm-3 col-xs-6">
                <div class="feature feature-1 text-center">
                    <i class="icon icon--lg icon-Add-Window"></i>
                    <h3>8</h3>
                    <span>
                        <em>Launched Websites</em>
                    </span>
                </div>
            </div>
            <div class="col-sm-3 col-xs-6">
                <div class="feature feature-1 text-center">
                    <i class="icon icon--lg icon-Sync-Cloud"></i>
                    <h3>12+</h3>
                    <span>
                        <em>Optimized Websites</em>
                    </span>
                </div>
            </div>
        </div>
        <!--end of row-->
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <h3>Our Expertise</h3>
                    <p class="lead">
                        We work across digital and print media to deliver bold, effective identities for businesses in all industries.
                    </p>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="feature feature-3">
                        <div class="feature__left">
                            <i class="icon icon-Sidebar-Window color--primary"></i>
                        </div>
                        <div class="feature__right">
                            <h6>Interface Design</h6>
                            <p>CraftGag comes with flexible content digitalizing & ultra cool Web designing - this makes building your and business solutions easier with more grandeur than ever before.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="feature feature-3">
                        <div class="feature__left">
                            <i class="icon icon-RGB color--primary"></i>
                        </div>
                        <div class="feature__right">
                            <h6>User Interaction</h6>
                            <p>We combine multiple purpose-built elements to craft your perfect, conversion focussed websites - and do it all in the comfort of your browser.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="feature feature-3">
                        <div class="feature__left">
                            <i class="icon icon-Brain color--primary"></i>
                        </div>
                        <div class="feature__right">
                            <h6>Internet Of Things</h6>
                            <p>Clever social integrations, Search engine friendly optimization, styled Twitter and facebook feeds give your site a dynamic edge.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="feature feature-3">
                        <div class="feature__left">
                            <i class="icon icon-Astronaut color--primary"></i>
                        </div>
                        <div class="feature__right">
                            <h6>Product Design</h6>
                            <p>Using of sophisticated technologies like Angular JS, Jquery and bootstrap make websites fast and easy. Adding things like SCORM Compliance makes your product perfect.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <h3>News &amp; Views</h3>
                    <p class="lead">
                        We share our thoughts on design, business and life in general. Check out the blog for our latest musings.
                    </p>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section class="blog-snippet-1">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <a href="http://craftgag.tumblr.com/post/152032682707/the-quick-guide-to-speeding-up-your-websites">
                        <div class="card card-4">
                            <div class="card__image">
                                <img alt="Pic" src="~/img/small9.jpg" />
                            </div>
                            <div class="card__body boxed boxed--sm bg--white">
                                <h6>Web Speed</h6>
                                <div class="card__title">
                                    <h5>The quick guide to speeding up your websites</h5>
                                </div>
                                
                                <div class="card__lower">
                                    <span>by</span>
                                    <span class="h6">CraftGag</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!--end item-->
                <div class="col-md-4 col-sm-6">
                    <a href="http://craftgag.tumblr.com/post/152032450537/10-jquery-snippets-every-designer-should-know">
                        <div class="card card-4">
                            <div class="card__image">
                                <img alt="Pic" src="~/img/small6.jpg" />
                            </div>
                            <div class="card__body boxed boxed--sm bg--white">
                                <h6>Jquery</h6>
                                <div class="card__title">
                                    <h5>10 jQuery snippets every designer should know</h5>
                                </div>
                                
                                <div class="card__lower">
                                    <span>by</span>
                                    <span class="h6">CraftGag</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!--end item-->
                <div class="col-md-4 col-sm-6">
                    <a href="http://craftgag.tumblr.com/post/152032355987/essential-design-trends-october-2016">
                        <div class="card card-4">
                            <div class="card__image">
                                <img alt="Pic" src="~/img/small1.jpg" />
                            </div>
                            <div class="card__body boxed boxed--sm bg--white">
                                <h6>Design</h6>
                                <div class="card__title">
                                    <h5>Essential design trends, October 2016</h5>
                                </div>
                                
                                <div class="card__lower">
                                    <span>by</span>
                                    <span class="h6">CraftGag</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!--end item-->
            </div>
            <!--end of row-->
            <div class="row">
                <div class="col-sm-12 text-center">
                    <a class="btn" href="http://craftgag.tumblr.com" target="_blank">
                        <span class="btn__text">
                            View the blog
                        </span>
                    </a>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section class="bg--secondary partners-1 space--sm">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="slider" data-items="6" data-timing="3000">
                        <ul class="slides">                           
                            <li>
                                <img alt="img" src="~/img/Clients/AlmightyChrist.png" />
                            </li>
                            <li>
                                <img alt="img" src="~/img/Clients/apex.png" />
                            </li>
                            <li>
                                <img alt="img" src="~/img/Clients/Hebron.png" />
                            </li>
                            <li>
                                <img alt="img" src="~/img/Clients/HSpices.png" />
                            </li>
                            <li>
                                <img alt="img" src="~/img/Clients/iSmarthub.png" />
                            </li>
                            <li>
                                <img alt="img" src="~/img/Clients/rg2.png" />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg--primary space--sm cta cta-5">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h4>Interested in working with CraftGag?</h4>
                    
                    <a class="btn btn--sm" href="@Url.Action("Contact", "home")">
                        <span class="btn__text">
                        Let's Talk </span>
                    </a>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    
