@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="height-70 bg--dark imagebg page-title page-title--animate parallax" data-overlay="5">
    <div class="background-image-holder background--bottom">
        <img alt="image" src="~/img/hero21.jpg" />
    </div>
    <div class="container pos-vertical-center">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 text-center">
                <h3>Development Process</h3>
                <p class="lead">Our rigorous process ensures your project is managed strategically and efficiently from initial conception through to final delivery and after-sales support.</p>
            </div>
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>
<section class="process-1 section--overlap">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 text-center">
                <div class="piechart piechart-2" data-size="260" data-value="33">
                    <div class="piechart__overlay">
                        <div class="piechart__description">
                            <h6>Phase One:</h6>
                            <span class="h4">Research</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end of row-->
        <div class="row">
            <div class="col-sm-5">
                <div class="feature feature-1 text-right text-center-xs">
                    <i class="icon icon-Fingerprint-2"></i>
                    <h5>Market Analysis</h5>
                    <p>We look into the size of the market both in volume and in value, the various customer segments and buying patterns,
                     the competition, and the economic environment in terms of barriers to entry and regulation. </p>
                </div>
            </div>
            <div class="col-sm-5 col-sm-offset-2">
                <div class="feature feature-1 text-center-xs">
                    <i class="icon icon-Check-2"></i>
                    <h5>Growth Strategy</h5>
                    <p>We know winning strategies are built on more than optimistic timetables; they are based on bold, unbiased decisions. Building processes that draw upon behavioral strategy reduces the impact of cognitive biases—excessive optimism, groupthink, and loss aversion.</p>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="process-1 bg--secondary">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 text-center">
                <div class="piechart piechart-2" data-size="260" data-value="66">
                    <div class="piechart__overlay">
                        <div class="piechart__description">
                            <h6>Phase Two:</h6>
                            <span class="h4">Development</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end of row-->
        <div class="row">
            <div class="col-sm-5">
                <div class="feature feature-1 text-right text-center-xs">
                    <i class="icon icon-Code-Window"></i>
                    <h5>Prototype Development</h5>
                    <p>The basic idea here is that instead of freezing the requirements before a design or coding can proceed, a throwaway prototype is built to understand the requirements. This prototype is developed based on the currently known requirements. By using this prototype, the client can get an “actual feel” of the system, since the interactions with prototype can enable the client to better understand the requirements of the desired system.</p>
                </div>
            </div>
            <div class="col-sm-5 col-sm-offset-2">
                <div class="feature feature-1 text-center-xs">
                    <i class="icon icon-Loop"></i>
                    <h5>Iteratate for Improvement</h5>
                    <p>The thing is, making something better only works if you start with something good.. Real growth comes from making a product that meets customer needs, telling a story that resonates, designing an engaging experience, building scalable distribution channels, making people happy, and getting them to talk about you.</p>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="process-1 process-end">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 text-center">
                <div class="piechart piechart-2" data-size="260" data-value="100">
                    <div class="piechart__overlay">
                        <div class="piechart__description">
                            <h6>Phase Three:</h6>
                            <span class="h4">Delivery</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end of row-->
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="feature feature-1 text-center">
                    <i class="icon icon--lg icon-Box-Open"></i>
                    <h5>Deployment & Support</h5>
                    <p>When the system meets your approval and is ready to “go live”, we deploy it to your production environment and assist with your organization’s transition to the new system. <br />
                        Systems evolve after deployment. We will continue to make improvements and changes to your systems as needed. <br />
                        We can also  train your development teams in how to maintain the system.</p>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="imagebg section--even parallax" data-overlay="4">
    <div class="background-image-holder">
        <img alt="image" src="~/img/hero8.jpg" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 text-center">
                <h4>What can CraftGag do for your business?</h4>
                <a class="btn btn--primary" href="@Url.Action("contact", "home")">
                    <span class="btn__text">
                        Arrange a consultation
                    </span>
                </a>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>