@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="imagebg height-50">
    <div class="background-image-holder background--bottom">
        <img alt="image" src="~/img/header2.jpg" />
    </div>
    <div class="container pos-vertical-center">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>CraftGag Showcase</h1>
                <p class="lead">Showcasing the Products and Services handcrafted by CraftGag </p>
            </div>
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>
<section class="wide-grid masonry masonry-videos">
    <div class="masonry__filters text-center" data-filter-all-text="Show All"></div>
    <div class="masonry__container masonry--animate">
        <div class="col-md-4 col-sm-6 col-xs-12 masonry__item" data-masonry-filter="Products">
            <div class="hover-element hover-element-1" data-title-position="center,center">
                <div class="hover-element__initial">
                    <img alt="Pic" src="~/img/work8.jpg" />
                </div>
                <div class="hover-element__reveal" data-overlay="9">
                    <div class="modal-instance">
                        <div class="btn-round modal-trigger">
                            <i class="icon-File-HorizontalText icon color--primary"></i>
                        </div>
                        <div class="modal-container">
                            <div class="modal-content height--natural">
                                <div class="card card-1">
                                    <div class="card__image">
                                        <div class="slider" data-paging="true">
                                            <ul class="slides">
                                                <li>
                                                    <img alt="Pic" src="~/img/small2.jpg" />
                                                </li>
                                                <li>
                                                    <img alt="Pic" src="~/img/small5.jpg" />
                                                </li>
                                                <li>
                                                    <img alt="Pic" src="~/img/small6.jpg" />
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="card__body boxed bg--white">
                                        <div class="card__title">
                                            <h5>E- Commerce</h5>
                                        </div>
                                        <span>
                                            <em>A web based Solution for your commercial Platform.</em>
                                        </span>
                                        <p>
                                            Quick & Easy Setup - Everything You Need To Start Selling Online Today.
                                            Create An Online Store, Sell On Facebook, Sell On Your Website and on Mobile Apps.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!--end of modal-content-->
                        </div>
                        <!--end of modal-container-->
                    </div>
                    <!--end of modal instance-->
                    <div class="modal-instance">
                       
                        <div class="modal-container">
                            <div class="modal-content bg--dark" data-width="70%" data-height="50%">
                                <iframe src="https://www.youtube.com/embed/4QUVRm4UZA4?autoplay=1" allowfullscreen="allowfullscreen"></iframe>
                            </div>
                            <!--end of modal-content-->
                        </div>
                        <!--end of modal-container-->
                    </div>
                    <!--end of modal instance-->
                </div>
            </div>
            <!--end hover element-->
        </div>
        <!--end item-->
        <div class="col-md-4 col-sm-6 col-xs-12 masonry__item" data-masonry-filter="Services">
            <div class="hover-element hover-element-1" data-title-position="center,center">
                <div class="hover-element__initial">
                    <img alt="Pic" src="~/img/work7.jpg" />
                </div>
                <div class="hover-element__reveal" data-overlay="9">
                    <div class="modal-instance">
                        <div class="btn-round modal-trigger">
                            <i class="icon-File-HorizontalText icon color--primary"></i>
                        </div>
                        <div class="modal-container">
                            <div class="modal-content height--natural">
                                <div class="card card-1">
                                    <div class="card__image">
                                        <div class="slider" data-paging="true">
                                            <ul class="slides">
                                                <li>
                                                    <img alt="Pic" src="~/img/small4.jpg" />
                                                </li>
                                                <li>
                                                    <img alt="Pic" src="~/img/small5.jpg" />
                                                </li>
                                                <li>
                                                    <img alt="Pic" src="~/img/small6.jpg" />
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="card__body boxed bg--white">
                                        <div class="card__title">
                                            <h5>Utility Solutions</h5>
                                        </div>
                                        <span>
                                            <em>Perfect solution for your health utilities.</em>
                                        </span>
                                        <p>
                                            Our Multi Utility solutions provide a cost-effective method of installing utilities on new developments.
                                            We help get you connected as quickly as possible, while providing strategic advice to get you the best price.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!--end of modal-content-->
                        </div>
                        <!--end of modal-container-->
                    </div>
                    <!--end of modal instance-->
                    <div class="modal-instance">
                       
                        <div class="modal-container">
                            <div class="modal-content bg--dark" data-width="70%" data-height="50%">
                                <iframe src="https://www.youtube.com/embed/4QUVRm4UZA4?autoplay=1" allowfullscreen="allowfullscreen"></iframe>
                            </div>
                            <!--end of modal-content-->
                        </div>
                        <!--end of modal-container-->
                    </div>
                    <!--end of modal instance-->
                </div>
            </div>
            <!--end hover element-->
        </div>
        <!--end item-->
        <div class="col-md-4 col-sm-6 col-xs-12 masonry__item" data-masonry-filter="Digital-content">
            <div class="hover-element hover-element-1" data-title-position="center,center">
                <div class="hover-element__initial">
                    <img alt="Pic" src="~/img/work5.jpg" />
                </div>
                <div class="hover-element__reveal" data-overlay="9">
                    <div class="modal-instance">
                        <div class="btn-round modal-trigger">
                            <i class="icon-File-HorizontalText icon color--primary"></i>
                        </div>
                        <div class="modal-container">
                            <div class="modal-content height--natural">
                                <div class="card card-1">
                                    <div class="card__image">
                                        <div class="slider" data-paging="true">
                                            <ul class="slides">
                                                <li>
                                                    <img alt="Pic" src="~/img/small5.jpg" />
                                                </li>
                                                <li>
                                                    <img alt="Pic" src="~/img/small8.jpg" />
                                                </li>
                                                <li>
                                                    <img alt="Pic" src="~/img/small6.jpg" />
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="card__body boxed bg--white">
                                        <div class="card__title">
                                            <h5>Learning Management System:</h5>
                                        </div>
                                        <span>
                                            <em>e- Learning made easy.</em>
                                        </span>
                                        <p>
                                            Our learning management system (LMS) is a software application for the administration, documentation, tracking, reporting and delivery of electronic educational technology (also called e-learning) courses or training programs.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!--end of modal-content-->
                        </div>
                        <!--end of modal-container-->
                    </div>
                    <!--end of modal instance-->
                    <div class="modal-instance">
                       
                        <div class="modal-container">
                            <div class="modal-content bg--dark" data-width="70%" data-height="50%">
                                <iframe src="https://www.youtube.com/embed/4QUVRm4UZA4?autoplay=1" allowfullscreen="allowfullscreen"></iframe>
                            </div>
                            <!--end of modal-content-->
                        </div>
                        <!--end of modal-container-->
                    </div>
                    <!--end of modal instance-->
                </div>
            </div>
            <!--end hover element-->
        </div>
        <!--end item-->
        <div class="col-md-4 col-sm-6 col-xs-12 masonry__item" data-masonry-filter="Products">
            <div class="hover-element hover-element-1" data-title-position="center,center">
                <div class="hover-element__initial">
                    <img alt="Pic" src="~/img/work6.jpg" />
                </div>
                <div class="hover-element__reveal" data-overlay="9">
                    <div class="modal-instance">
                        <div class="btn-round modal-trigger">
                            <i class="icon-File-HorizontalText icon color--primary"></i>
                        </div>
                        <div class="modal-container">
                            <div class="modal-content height--natural">
                                <div class="card card-1">
                                    <div class="card__image">
                                        <div class="slider" data-paging="true">
                                            <ul class="slides">
                                                <li>
                                                    <img alt="Pic" src="~/img/small9.jpg" />
                                                </li>
                                                <li>
                                                    <img alt="Pic" src="~/img/small8.jpg" />
                                                </li>
                                                <li>
                                                    <img alt="Pic" src="~/img/small6.jpg" />
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="card__body boxed bg--white">
                                        <div class="card__title">
                                            <h5>Digital Content</h5>
                                        </div>
                                        <span>
                                            <em>Content Management.</em>
                                        </span>
                                        <p>
                                            Digital content management is an emerging professional area worldwide. This is clearly visible in the growing number of consultants and companies dedicated to web architecture, studies of usability and accessibility, the management of web portals
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!--end of modal-content-->
                        </div>
                        <!--end of modal-container-->
                    </div>
                    <!--end of modal instance-->
                    <div class="modal-instance">
                        
                        <div class="modal-container">
                            <div class="modal-content bg--dark" data-width="70%" data-height="50%">
                                <iframe src="https://www.youtube.com/embed/4QUVRm4UZA4?autoplay=1" allowfullscreen="allowfullscreen"></iframe>
                            </div>
                            <!--end of modal-content-->
                        </div>
                        <!--end of modal-container-->
                    </div>
                    <!--end of modal instance-->
                </div>
            </div>
            <!--end hover element-->
        </div>
        <!--end item-->
        <div class="col-md-4 col-sm-6 col-xs-12 masonry__item" data-masonry-filter="Digital-content">
            <div class="hover-element hover-element-1" data-title-position="center,center">
                <div class="hover-element__initial">
                    <img alt="Pic" src="~/img/work12.jpg" />
                </div>
                <div class="hover-element__reveal" data-overlay="9">
                    <div class="modal-instance">
                        <div class="btn-round modal-trigger">
                            <i class="icon-File-HorizontalText icon color--primary"></i>
                        </div>
                        <div class="modal-container">
                            <div class="modal-content height--natural">
                                <div class="card card-1">
                                    <div class="card__image">
                                        <div class="slider" data-paging="true">
                                            <ul class="slides">
                                                <li>
                                                    <img alt="Pic" src="~/img/small10.jpg" />
                                                </li>
                                                <li>
                                                    <img alt="Pic" src="~/img/small8.jpg" />
                                                </li>
                                                <li>
                                                    <img alt="Pic" src="~/img/small6.jpg" />
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="card__body boxed bg--white">
                                        <div class="card__title">
                                            <h5>Scorm Compliance</h5>
                                        </div>
                                        <span>
                                            <em>SCORM Based e-learning.</em>
                                        </span>
                                        <p>
                                            Sharable Content Object Reference Model (SCORM) is a collection of standards and specifications for web-based electronic educational technology (also called e-learning). It defines communications between client side content and a host system
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!--end of modal-content-->
                        </div>
                        <!--end of modal-container-->
                    </div>
                    <!--end of modal instance-->
                    <div class="modal-instance">
                       
                        <div class="modal-container">
                            <div class="modal-content bg--dark" data-width="70%" data-height="50%">
                                <iframe src="https://www.youtube.com/embed/4QUVRm4UZA4?autoplay=1" allowfullscreen="allowfullscreen"></iframe>
                            </div>
                            <!--end of modal-content-->
                        </div>
                        <!--end of modal-container-->
                    </div>
                    <!--end of modal instance-->
                </div>
            </div>
            <!--end hover element-->
        </div>
        <!--end item-->
        <div class="col-md-4 col-sm-6 col-xs-12 masonry__item" data-masonry-filter="Services">
            <div class="hover-element hover-element-1" data-title-position="center,center">
                <div class="hover-element__initial">
                    <img alt="Pic" src="~/img/work2.jpg" />
                </div>
                <div class="hover-element__reveal" data-overlay="9">
                    <div class="modal-instance">
                        <div class="btn-round modal-trigger">
                            <i class="icon-File-HorizontalText icon color--primary"></i>
                        </div>
                        <div class="modal-container">
                            <div class="modal-content height--natural">
                                <div class="card card-1">
                                    <div class="card__image">
                                        <div class="slider" data-paging="true">
                                            <ul class="slides">
                                                <li>
                                                    <img alt="Pic" src="~/img/small12.jpg" />
                                                </li>
                                                <li>
                                                    <img alt="Pic" src="~/img/small8.jpg" />
                                                </li>
                                                <li>
                                                    <img alt="Pic" src="~/img/small6.jpg" />
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="card__body boxed bg--white">
                                        <div class="card__title">
                                            <h5>Health care services</h5>
                                        </div>
                                        <span>
                                            <em>Revolutionary Health care solutions on a digital platform.</em>
                                        </span>
                                        <p>
                                            We offer various in-home healthcare services like Physiotherapy, Nursing, Attendant/Home Health Aide, Doctor Visit. We will keep on adding more in-home healthcare services with a vision to bring world class medical care into our patients’ homes.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!--end of modal-content-->
                        </div>
                        <!--end of modal-container-->
                    </div>
                    <!--end of modal instance-->
                    <div class="modal-instance">
                        
                        <div class="modal-container">
                            <div class="modal-content bg--dark" data-width="70%" data-height="50%">
                                <iframe src="https://www.youtube.com/embed/4QUVRm4UZA4?autoplay=1" allowfullscreen="allowfullscreen"></iframe>
                            </div>
                            <!--end of modal-content-->
                        </div>
                        <!--end of modal-container-->
                    </div>
                    <!--end of modal instance-->
                </div>
            </div>
            <!--end hover element-->
        </div>
        <!--end item-->
    </div>
    <!--end masonry container-->
</section>